.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  
}
.navbar__link {
    text-decoration: none;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
  }
